/* Grid Layout */
.container{
    width: 100vw;
    height: 100vh;

    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;

    display : grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 1fr 1fr 100px;

    padding-top: 50px;
    padding-left: 50px;
    padding-right: 40px;

    gap: 18px;
    box-sizing: border-box;
}

.container div{
    padding: 10px;
    border: 2px solid black;
    border-radius: 25px;
}

.logo{
    font-family: cursive;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: lightskyblue;
    padding-left: 50px;
    display: grid;
    justify-content: center;
}
.header{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: pink;
}
.content-a{
    font-family: cursive;
    background-color: pink;
    display: grid;
    justify-content: center;
}
.content-b{
    font-family: cursive;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 6;
    background-color: lightskyblue;
}
.content-c{
    font-family: cursive;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;

    background-color: aquamarine;
    display: grid;
    justify-content: left;
    padding: 10px;
}

.content-footer{
    font-family: cursive;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 200px;
    background-color: pink;

}

.container .firstdiv{
    margin-top: 20px;
    width: calc(100% - 300px);
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    border: 0;
    text-align: center;
}

.container .seconddiv{
   border: 0;
   text-decoration: underline;
   text-align: center;
}

.container .thirddiv{
    margin-top: 12px;
    width: calc(100% - 400px);
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    text-align: center;
    border: 0;
}



/* navbar */

.header .content {
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.header .menu-lijst {
    display: inline-flex;
    padding-bottom: 20px;
}

.menu-lijst{
    margin-top: 0px;
    text-align: center;
}

.menu-lijst li {
    list-style: none;
}

.menu-lijst li a {
    font-family: cursive;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-left: 30px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-lijst li a:hover {
    color: white;
}

/* styling */

.button1{
    background-color: lightskyblue;
    border-radius: 8px;
    font-size: 20px;
    width: 150px;
}

p{
    font-size: 17px;
}

.content-footer [class ^= 'footer-'] {
    width: 33.3333%;
    display: inline-block;
    text-align: center;
}

.content-footer .footer-left {
    float: left;
}

.content-footer .footer-right {
    float: right;
}

/*Media queries*/ 
/*Responsiveness*/

@media all and (max-width: 320px){

    /* Grid Layout */
    .container{
        width: 100vw;
        height: 100vh;

        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        font-size: 20px;

        display : grid;

        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 50px 1fr 1fr 100px;

        padding-top: 50px;
        padding-left: 50px;
        padding-right: 40px;

        gap: 18px;
        box-sizing: border-box;
    }

    .container div{
        padding: 10px;
        border: 1px solid black;
        border-radius: 25px;
    }
    .logo{
        font-family: cursive;
        grid-column-start: 1;
        grid-column-end: 2;
        background-color: lightskyblue;
        padding-left: 50px;
        display: grid;
        justify-content: center;
    }
    .header{
        grid-column-start: 2;
        grid-column-end: 4;
        background-color: pink;
    }
    .content-a{
        font-family: cursive;
        background-color: pink;
        display: grid;
        justify-content: center;
    }
    .content-b{
        font-family: cursive;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 6;
        background-color: lightskyblue;
    }
    .content-c{
        font-family: cursive;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;

        background-color: aquamarine;
        display: grid;
        justify-content: left;
        padding: 10px;
    }

    .content-footer{
        font-family: cursive;
        grid-column-start: 1;
        grid-column-end: 4;
        height: 200px;
        background-color: pink;

    }

    .firstdiv{
        width: 50%;
    }

    .seconddiv{
        width: 50%;
    }

    /* navbar */

    .header .content {
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }

    .header .menu-lijst {
        display: inline-flex;
        padding-bottom: 20px;
    }

    .menu-lijst{
        margin-top: 0px;
        padding-left: 150px;
    }

    .menu-lijst li {
        list-style: none;
    }

    .menu-lijst li a {
        font-family: cursive;
        color: white;
        font-size: 11px;
        font-weight: 450;
        text-align: left;
        text-decoration: underline;
        transition: all 1.3s ease;
    }

    .menu-lijst li a:hover {
        color: white;
    }

    /* styling */

    .button1{
        background-color: lightskyblue;
        border-radius: 8px;
        font-size: 20px;
        width: 150px;
    }

    p{
        font-size: 17px;
    }

    .content-footer [class ^= 'footer-'] {
        width: 33.3333%;
        display: inline-block;
        text-align: center;
    }

    .content-footer .footer-left {
        float: left;
    }

    .content-footer .footer-right {
        float: right;
    }
}